# language
TZ='Etc/UTC'
LANG='en_US.UTF-8'
LANGUAGE='en_US.UTF-8'
# user, group
HOST_UID=
HOST_GID=
HOST_USER=''
HOST_GROUP=''
# development or production
NODE_ENV='development'

# frontend
FRONT_PORT=3228
